<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" (ngSubmit)="verify()">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" name="email" [(ngModel)]="loginUserData.email"
        placeholder="Email address" autocomplete="off" autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
        [(ngModel)]="loginUserData.password">
      <div id="remember" class="checkbox">
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" tooltip="Redirect to UserList"
        placement="bottom" delay="500">Sign in</button>
    </form>
  </div>
</div>