<div class="mainimage"><img [src]=file.avatar></div>
<div class="userdetails">
    <table class="tabledata">
        <tr class="rowdetails">
            <th class="heading">ID</th>
            <th class="heading">Email</th>
            <th class="heading">First Name</th>
            <th class="heading">Last Name</th>
        </tr>
        <tr>
            <td class="heading">{{file['id']}}</td>
            <td class="heading">{{file['email']}}</td>
            <td class="heading">{{file['first_name']}}</td>
            <td class="heading">{{file['last_name']}}</td>
        </tr>
    </table>
</div>
<button type="button" class="btn btn-primary" (click)="goBack('userlist')">Go Back</button>
