<div class="layout">
    <form [formGroup]="signup" (ngSubmit)="createUser()">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="email" class="form-control" name="firstname" formControlName="firstname"
          placeholder="Enter First Name" autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="email" class="form-control" name="lastname" formControlName="lastname" placeholder="Enter Last Name"
          autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="Enter email">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputEmail1">Mobile Number</label>
        <input type="email" class="form-control" name="mobilenumber" formControlName="mobilenumber"
          placeholder="Enter Mobile Number" autocomplete="off">
      </div>
      <br>
  
      <div class="form-group">
        <label for="exampleInputEmail1">Country</label>
        <select class="custom-select custom-select-lg mb-3 drop_down" name="country" formControlName="country">
          <option selected>India</option>
          <option>Canada</option>
          <option>USA</option>
          <option>Germany</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputEmail1">Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" formControlName="exampleRadios"
            id="exampleRadios1" value="Male" checked>
          <label class="form-check-label" for="exampleRadios1" type="radio">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" formControlName="exampleRadios" value="Female"
            id="exampleRadios2">
          <label class="form-check-label" for="exampleRadios2" type="radio">
            Female
          </label>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputEmail">Interest Area</label>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="check" formControlName="interest" value="Sports">
          <label class="form-check-label" for="inlineCheckbox1">Sports</label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="checkbox" name="check" formControlName="interest" value="Music">
          <label class="form-check-label" for="inlineCheckbox2">Music</label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="checkbox" name="check" formControlName="interest" value="Science">
          <label class="form-check-label" for="inlineCheckbox3">Science</label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="checkbox" name="check" formControlName="interest" value="Arts">
          <label class="form-check-label" for="inlineCheckbox3">Arts</label>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
  
    </form>
  
  </div>